.current-line {
  background: linear-gradient(to right, #FFFFFF 50%, #0fe8fb 50%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;

  &.active {
    background-position: -100% 0;
  }
}
