<p>
  This website, Alnitak, is an unofficial practice tool designed for
  CharaChorder 3D input devices, including CharaChorder One, CharaChorder Two
  and Master Forge.
</p>
<h2 class="pb-2 pt-5 text-xl">Page Introductions</h2>
<h3 class="pb-2 text-lg font-bold text-alnitak-300">
  <a [routerLink]="'/topic/number/lesson/123'" class="flex items-center gap-1">
    <mat-icon>123</mat-icon>
    Key Lesson Page</a
  >
</h3>
<p class="pb-2">
  At key lesson page, you can practice typing the number, letter, or symbol keys
  on your CharaChorder 3D input device. The accessible lessons are listed in the
  side menu.
</p>
<p>
  If you want a goal for your practice, you can try to achieve both 100 combos
  and 100 CPM at the same time under each non-review lesson. (I wrote
  <a
    class="underline"
    href="https://andy23512.github.io/blog/2025/06/30/tangent-s-suggestions-for-learning-english-character-entry-on-charachorder-3d-input-devices/"
    target="_blank"
    rel="noopener"
    >my suggestions for learning English character entry on CharaChorder 3D
    input devices in this article</a
  >. )
</p>
<h3 class="pb-2 pt-6 text-lg font-bold text-alnitak-300">
  <a class="flex items-center gap-1" [routerLink]="'/statistics'">
    <mat-icon>trending_up</mat-icon>
    Statistics Page</a
  >
</h3>
<p>
  At statistics page, you can check the statistics of your practices in key
  lessons, including a graph that shows your typing speed and combo counts over
  time.
</p>
<h3 class="pb-2 pt-6 text-lg font-bold text-alnitak-300">
  <a class="flex items-center gap-1" [routerLink]="'/chord'">
    <mat-icon>piano</mat-icon>
    Chord Page</a
  >
</h3>
<p>
  At chord page, you can pick several chords in your chord library and practice
  them.
</p>
<h3 class="pb-2 pt-6 text-lg font-bold text-alnitak-300">
  <a class="flex items-center gap-1" [routerLink]="'/layout-viewer'">
    <mat-icon>map</mat-icon>
    Layout Viewer Page</a
  >
</h3>
<p>
  At layout viewer page, you can see the actual layout of your device under a
  certain OS keyboard layout and modifier keys (Shift and Alt Graph) state. It
  also provides key searching and layout printing features.
</p>
<h3 class="pb-2 pt-6 text-lg font-bold text-alnitak-300">
  <a class="flex items-center gap-1" [routerLink]="'/settings'">
    <mat-icon>settings</mat-icon>
    Settings Page</a
  >
</h3>
<p>
  At settings page, you can tweak some settings of this tool, such as the
  visibility of some components, the highlight logic on the layout preview, the
  device layout, the air mode, and the chord library.
</p>

<h2 class="pb-2 pt-8 text-xl">Disclaimers</h2>
<ol class="list-inside list-decimal">
  <li>
    This site is not affiliated, associated, authorized, endorsed by, or in any
    way officially connected with CharaChorder and Forge Keyboard. Their
    official websites can be found at
    <a
      class="underline"
      href="https://www.charachorder.com/"
      target="_blank"
      rel="noopener"
      >https://www.charachorder.com/</a
    >
    and
    <a
      class="underline"
      href="https://forgekeyboard.com/"
      target="_blank"
      rel="noopener"
      >https://forgekeyboard.com/</a
    >.
  </li>
  <li>
    Your typing statistics and settings in this tool are kept and stored locally
    in the
    <a
      class="underline"
      href="https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API"
      target="_blank"
      rel="noopener"
      >IndexedDB</a
    >
    and
    <a
      class="underline"
      href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage"
      target="_blank"
      rel="noopener"
      >localStorage</a
    >
    of your browser. They are not transmitted to any other place via this tool.
  </li>
</ol>
