@for (sector of sectors; track sector) {
  <svg:g
    appSwitchSector
    [center]="center()"
    [degree]="sector.degree + r()"
    [direction]="rotationDirection()"
    [positionCode]="positionCodeMap()[sector.direction]"
    [keyLabel]="keyLabelMap()[positionCodeMap()[sector.direction]]"
    [highlight]="
      highlightPositionCodes().includes(positionCodeMap()[sector.direction])
    "
  ></svg:g>
}
<svg:text
  [attr.x]="center().x"
  [attr.y]="center().y"
  dominant-baseline="central"
  text-anchor="middle"
  font-size="80px"
  fill="currentColor"
  font-weight="lighter"
>
  {{ keyLabelMap()[positionCodeMap().c] }}
</svg:text>
