<svg
  viewBox="0 0 350 350"
  preserveAspectRatio="xMidYMid meet"
  class="absolute h-full w-full opacity-10"
>
  <g
    appSwitch
    [center]="{ x: 0, y: 0 }"
    [rotationDirection]="'cw'"
    [positionCodeMap]="{ c: 0, e: 1, n: 2, w: 3, s: 4 }"
    [highlightKeyCombination]="{
      characterKeyPositionCode: 0,
      layer: Layer.Primary,
      shiftKey: false,
      altGraphKey: false,
      positionCodes: highlightPositionCodes,
      score: 0
    }"
  ></g>
  <g
    appSwitch
    [center]="{ x: 350, y: 350 }"
    [rotationDirection]="'ccw'"
    [positionCodeMap]="{ c: 5, e: 6, n: 7, w: 8, s: 9 }"
    [highlightKeyCombination]="{
      characterKeyPositionCode: 5,
      layer: Layer.Primary,
      shiftKey: false,
      altGraphKey: false,
      positionCodes: highlightPositionCodes,
      score: 0
    }"
  ></g>
</svg>
<main class="flex h-full flex-col items-center justify-center gap-4 p-4">
  <header class="text-center">
    <h1 class="mb-0 text-4xl text-alnitak-500">Alnitak</h1>
  </header>
  <div class="flex">
    <div>An unofficial practice tool of&nbsp;</div>
    <div class="font-bold">
      @if (visibilitySettingStore.homePageChordingAnimation()) {
        <div class="h-6 w-[150px]">
          {{ typingDeviceName$ | async }}<span>_</span>
        </div>
      } @else {
        CharaChorder 3D input devices
      }
    </div>
  </div>
  <span
    >Use <kbd>space</kbd> key to enter the first lesson, or select a lesson from
    the side menu.</span
  >
  <div>
    <a
      href="https://github.com/andy23512/alnitak"
      target="_blank"
      rel="noopener"
    >
      <button type="button" mat-button>
        <mat-icon>{{ "code" | iconGuard }}</mat-icon> Source Code
      </button>
    </a>
    <a
      href="https://hackmd.io/@andy23512/SywN7okfC"
      target="_blank"
      rel="noopener"
    >
      <button type="button" mat-button>
        <mat-icon>{{ "article" | iconGuard }}</mat-icon> Dev Note
      </button>
    </a>
  </div>
</main>
<footer class="absolute bottom-1 w-full p-2 text-gray-200">
  Disclaimer:
  <ol class="list-inside list-decimal">
    <li>
      This site is not affiliated, associated, authorized, endorsed by, or in
      any way officially connected with CharaChorder. The official CharaChorder
      website can be found at
      <a
        class="underline"
        href="https://www.charachorder.com/"
        target="_blank"
        rel="noopener"
        >https://www.charachorder.com/</a
      >.
    </li>
    <li>
      Your typing statistics and settings in this tool are kept and stored
      locally in the
      <a
        class="underline"
        href="https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API"
        target="_blank"
        rel="noopener"
        >IndexedDB</a
      >
      and
      <a
        class="underline"
        href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage"
        target="_blank"
        rel="noopener"
        >localStorage</a
      >
      of your browser. They are not transmitted to any other place via this
      tool.
    </li>
  </ol>
</footer>
