<section class="flex flex-none items-center gap-8 bg-gray-700">
  <mat-button-toggle-group [(ngModel)]="currentLayer">
    @for (layer of layers; track $index) {
      <mat-button-toggle [value]="layer.value">
        <mat-icon>{{ layer.icon }}</mat-icon>
      </mat-button-toggle>
    }
  </mat-button-toggle-group>
  <mat-checkbox [(ngModel)]="shiftKey" color="primary">Shift</mat-checkbox>
  <div class="flex-1"></div>
  <mat-form-field class="w-96" [subscriptSizing]="'dynamic'">
    <mat-label>OS Keyboard Layout</mat-label>
    <mat-select
      class="!font-bold !text-alnitak-200"
      [value]="selectedKeyboardLayoutId()"
      (valueChange)="setSelectedKeyboardLayoutId($event)"
    >
      <mat-option>
        <ngx-mat-select-search
          [ngModel]="keyboardLayoutSearchQuery()"
          (ngModelChange)="keyboardLayoutSearchQuery.set($event)"
          placeholderLabel="Find layout..."
          noEntriesFoundLabel="No matching layout found."
        ></ngx-mat-select-search>
      </mat-option>
      @for (
        keyboardLayout of filteredKeyboardLayouts();
        track keyboardLayout.id
      ) {
        <mat-option [value]="keyboardLayout.id">{{
          keyboardLayout.name
        }}</mat-option>
      }
    </mat-select>
    <button
      mat-icon-button
      matSuffix
      (click)="onResetButtonClick($event)"
      [disabled]="selectedKeyboardLayoutId() === 'us'"
    >
      <mat-icon>replay</mat-icon>
    </button>
  </mat-form-field>
</section>
@if (keyLabelMap(); as keyLabelMap) {
  <section class="relative flex-1 px-5 pb-5">
    <app-layout
      class="block h-full overflow-hidden"
      [alwaysShowLayout]="true"
      [showThumb3Switch]="visibilitySettingStore.layoutThumb3Switch()"
      [keyLabelMap]="keyLabelMap"
      [highlightKeyCombination]="{
        positionCodes: highlightPositionCodes(),
        score: 0,
        characterKeyPositionCode: 0,
        layer: currentLayer(),
        shiftKey: shiftKey(),
        altGraphKey: false
      }"
    ></app-layout>
    <diV
      class="absolute top-0 flex w-full items-center justify-center text-gray-100"
    >
      @if (holdKeys().length) {
        (Hold
        @for (key of holdKeys(); track $index) {
          @if ($index > 0) {
            and
          }
          @switch (key) {
            @case ("num-shift") {
              <mat-icon class="mx-1 text-alnitak-500">counter_2</mat-icon>
            }
            @case ("fn") {
              <mat-icon class="mx-1 text-alnitak-500">counter_3</mat-icon>
            }
            @case ("shift") {
              <mat-icon class="text-alnitak-500">shift</mat-icon>
            }
          }
        }
        to access this layer)
      }
    </diV>
  </section>
}
