@for (label of labels(); track $index) {
  <svg:text
    [attr.x]="x()"
    [attr.y]="y()"
    dominant-baseline="central"
    text-anchor="middle"
    [attr.font-size]="
      label.type !== KeyLabelType.Icon
        ? (label.c.length > 2 ? fontSize() * 0.6 : fontSize()) + 'px'
        : null
    "
    [style.font-size.px]="
      label.type === KeyLabelType.Icon ? fontSize() * 0.75 : null
    "
    [class.material-icons]="label.type === KeyLabelType.Icon"
    fill="currentColor"
    font-weight="lighter"
    class="transition-opacity"
    [attr.opacity]="
      highlightKeyCombination() &&
      ((label.layer === highlightKeyCombination()?.layer &&
        label.shiftKey === highlightKeyCombination()?.shiftKey &&
        label.altGraphKey === highlightKeyCombination()?.altGraphKey) ||
        label.layer === null)
        ? 1
        : 0
    "
  >
    {{ label.c }}
  </svg:text>
}
