<section class="space-y-4">
  <section class="space-y-2">
    <h4 class="text-lg">Shift Layer</h4>
    <ul>
      <li>
        Tend to choose the key combination from
        <app-sides-dropdown
          [value]="highlightSettingStore.shiftLayer().preferSides"
          (select)="setHighlightSetting('shiftLayer', 'preferSides', $event)"
        ></app-sides-dropdown
        >.
      </li>
      <li>
        Tend to choose the
        <app-key-side-dropdown
          [value]="highlightSettingStore.shiftLayer().preferShiftSide"
          (select)="
            setHighlightSetting('shiftLayer', 'preferShiftSide', $event)
          "
        ></app-key-side-dropdown>
        Shift key.
      </li>
    </ul>
  </section>
  <section class="space-y-2">
    <h4 class="text-lg">Num-shift Layer</h4>
    <ul>
      <li>
        Tend to choose the key combination from
        <app-sides-dropdown
          [value]="highlightSettingStore.numShiftLayer().preferSides"
          (select)="setHighlightSetting('numShiftLayer', 'preferSides', $event)"
        ></app-sides-dropdown
        >.
      </li>
      <li>
        Tend to choose the
        <app-key-side-dropdown
          [value]="highlightSettingStore.numShiftLayer().preferNumShiftSide"
          (select)="
            setHighlightSetting('numShiftLayer', 'preferNumShiftSide', $event)
          "
        ></app-key-side-dropdown>
        Num-shift key.
      </li>
    </ul>
  </section>
  <section class="space-y-2">
    <h4 class="text-lg">Shift Num-Shift Layer</h4>
    <ul>
      <li>
        Tend to choose the character key on the
        <app-key-side-dropdown
          [value]="
            highlightSettingStore.shiftAndNumShiftLayer().preferCharacterKeySide
          "
          (select)="
            setHighlightSetting(
              'shiftAndNumShiftLayer',
              'preferCharacterKeySide',
              $event
            )
          "
        ></app-key-side-dropdown>
        side.
      </li>
      <li>
        Tend to use the
        <app-key-side-dropdown
          [value]="
            highlightSettingStore.shiftAndNumShiftLayer().preferShiftSide
          "
          (select)="
            setHighlightSetting(
              'shiftAndNumShiftLayer',
              'preferShiftSide',
              $event
            )
          "
        ></app-key-side-dropdown>
        Shift key.
      </li>
    </ul>
  </section>
  <section class="space-y-2">
    <h4 class="text-lg">Fn-shift Layer</h4>
    <ul>
      <li>
        Tend to choose the key combination from
        <app-sides-dropdown
          [value]="highlightSettingStore.fnShiftLayer().preferSides"
          (select)="setHighlightSetting('fnShiftLayer', 'preferSides', $event)"
        ></app-sides-dropdown
        >.
      </li>
      <li>
        Tend to choose the
        <app-key-side-dropdown
          [value]="highlightSettingStore.fnShiftLayer().preferFnShiftSide"
          (select)="
            setHighlightSetting('fnShiftLayer', 'preferFnShiftSide', $event)
          "
        ></app-key-side-dropdown>
        Fn-shift key.
      </li>
    </ul>
  </section>
  <section class="space-y-2">
    <h4 class="text-lg">Shift Fn-Shift Layer</h4>
    <ul>
      <li>
        Tend to choose the character key on the
        <app-key-side-dropdown
          [value]="
            highlightSettingStore.shiftAndFnShiftLayer().preferCharacterKeySide
          "
          (select)="
            setHighlightSetting(
              'shiftAndFnShiftLayer',
              'preferCharacterKeySide',
              $event
            )
          "
        ></app-key-side-dropdown>
        side.
      </li>
      <li>
        Tend to use the
        <app-key-side-dropdown
          [value]="highlightSettingStore.shiftAndFnShiftLayer().preferShiftSide"
          (select)="
            setHighlightSetting(
              'shiftAndFnShiftLayer',
              'preferShiftSide',
              $event
            )
          "
        ></app-key-side-dropdown>
        Shift key.
      </li>
    </ul>
  </section>
</section>
