<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    @for (topic of topics; track topic.id) {
      <h3 matSubheader>{{ topic.name }}</h3>
      <mat-nav-list dense>
        @for (lesson of topic.lessons; track lesson.id) {
          <a
            mat-list-item
            routerLink="/topic/{{ topic.id }}/lesson/{{ lesson.id }}"
            routerLinkActive="router-link-active"
            >{{ lesson.name }}</a
          >
        }
      </mat-nav-list>
    }
  </mat-sidenav>
  <mat-sidenav-content>
    @if (isHandset$ | async) {
      <button
        type="button"
        class="sidenav-toggle-button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
