<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    @for (topic of topics; track topic.id) {
      <mat-toolbar>{{ topic.name }}</mat-toolbar>
      <mat-nav-list dense>
        @for (lesson of topic.lessons; track lesson.id) {
          <a
            mat-list-item
            [routerLink]="'/lesson/' + lesson.id"
            routerLinkActive="router-link-active"
            >{{ lesson.name }}</a
          >
        }
      </mat-nav-list>
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>typing-san</span>
      <div class="spacer"></div>
      <button mat-icon-button aria-label="Go to settings page">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
