<mat-sidenav-container class="h-full">
  <mat-sidenav
    #drawer
    class="!w-[200px]"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list data-style-dense>
      @for (topic of topics; track topic.id) {
        <h4 class="flex items-center gap-1" matSubheader>
          <mat-icon>{{ topic.iconName || "topic" }}</mat-icon
          >{{ topic.name }}
        </h4>
        @for (lesson of topic.lessons; track lesson.id) {
          <a
            mat-list-item
            routerLink="/topic/{{ topic.id }}/lesson/{{ lesson.id }}"
            routerLinkActive="list-item-active"
            (click)="onNavLinkClick()"
            >{{ lesson.name }}</a
          >
        }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (isHandset$ | async) {
      <button
        type="button"
        class="!fixed bottom-0 left-0 !z-10"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
