<h2 mat-dialog-title class="!text-xl">Thumb 3 Switch</h2>
<mat-dialog-content>
  <p>
    Master Forge doesn't have the thumb 3 switches as CharaChorder One and
    CharaChorder Two. If you use Master Forge, or you use CharaChorder One or
    CharaChorder Two but don't use the thumb 3 switches, you can uncheck this
    setting to hide them in the layout.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
