@use '@angular/material' as mat;

:host {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  box-sizing: border-box;
}

.top-section {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 5px;

  &:has(input:focus) .lesson-link {
    visibility: hidden;
  }
}

.worksheet {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  flex: 1 1 0;

  span {
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
  }

  .history {
    color: #999;
    white-space: pre;
  }

  .queue {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 0.5ch solid white;
      border-left: 0.5ch solid transparent;
      border-right: 0.5ch solid transparent;
      top: -0.5ch;
    }

    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 0.5ch solid transparent;
      border-right: 0.5ch solid transparent;
      border-bottom: 0.5ch solid white;
    }

    &.error {
      &::first-letter {
        color: red;
      }

      &::before {
        border-top-color: red;
      }

      &::after {
        border-bottom-color: red;
      }
    }
  }

  .dimmer {
    position: absolute;
    inset: 0;
    background-color: #303030;
    border-radius: 3px;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    opacity: 1;

    mat-icon {
      color: white;
      transform: scale(1.2);
    }
  }

  input:focus+.dimmer {
    pointer-events: none;
    opacity: 0;
  }
}

input {
  opacity: 0;
  width: 0;
  height: 0;
}

app-layout {
  display: block;
  flex: 1 1 0;
}

.lesson-link {
  color: inherit;
}
