<section class="top-section">
  <kbd [innerHTML]="shortcuts.goToPreviousLesson | hotkeysShortcut"></kbd>
  <a
    class="lesson-link"
    *ngrxLet="lesson()?.previousLessonUrl as previousLessonUrl"
    aria-label="link to previous lesson"
    [routerLink]="previousLessonUrl"
    matTooltip="Go to previous lesson"
  >
    <button type="button" mat-icon-button [disabled]="!previousLessonUrl">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </a>
  <div class="worksheet">
    <span class="history">{{ lessonStore.history().join("") }}</span>
    <span class="queue" [class.error]="lessonStore.error()"
      >{{ lessonStore.queue().join("") }}...</span
    >
    <input
      #input
      type="text"
      inputmode="none"
      (keyup)="onKeyUpInInput($event)"
    />
    <div class="dimmer" (click)="focusInput()">
      <mat-icon>play_arrow</mat-icon> Start / Resume <kbd>Space</kbd>
    </div>
  </div>
  <a
    class="lesson-link"
    *ngrxLet="lesson()?.nextLessonUrl as nextLessonUrl"
    aria-label="link to next lesson"
    [routerLink]="nextLessonUrl"
    matTooltip="Go to next lesson"
  >
    <button type="button" mat-icon-button [disabled]="!nextLessonUrl">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </a>
  <kbd [innerHTML]="shortcuts.goToNextLesson | hotkeysShortcut"></kbd>
</section>
<app-layout
  [keyLabelMap]="keyLabelMap()"
  [highlightPositionCodes]="highlightPositionCodes()"
></app-layout>
