<section class="flex items-center flex-none">
  <kbd [innerHTML]="shortcuts.goToPreviousLesson | hotkeysShortcut"></kbd>
  <a
    class="text-inherit"
    *ngrxLet="lesson()?.previousLessonUrl as previousLessonUrl"
    aria-label="link to previous lesson"
    [routerLink]="previousLessonUrl"
    matTooltip="Go to previous lesson"
  >
    <button type="button" mat-icon-button [disabled]="!previousLessonUrl">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </a>
  <div class="flex items-center justify-center relative h-12 flex-1">
    <span class="text-xl font-mono text-gray-500 whitespace-pre">{{
      lessonStore.history().join("")
    }}</span>
    <span
      class="text-xl font-mono relative before:absolute before:block before:w-0 before:h-0 before:border-t-[0.5ch] before:border-solid before:border-t-white before:border-x-[0.5ch] before:border-x-transparent before:-top-[0.5ch] after:absolute after:block after:w-0 after:h-0 after:border-b-[0.5ch] after:border-solid after:border-b-white after:border-x-[0.5ch] after:border-x-transparent"
      [ngClass]="
        lessonStore.error()
          ? 'first-letter:text-red-500 before:!border-t-red-500 after:!border-b-red-500'
          : null
      "
      >{{ lessonStore.queue().join("") }}...</span
    >
    <input
      class="peer opacity-0 w-0 h-0"
      #input
      type="text"
      inputmode="none"
      (keyup)="onKeyUpInInput($event)"
    />
    <div
      class="absolute inset-0 bg-gray-500 rounded border border-solid border-white text-white flex justify-center items-center gap-1 cursor-pointer peer-focus:pointer-events-none peer-focus:opacity-0"
      (click)="focusInput()"
    >
      <mat-icon class="text-white scale-125">play_arrow</mat-icon> Start /
      Resume <kbd>Space</kbd>
    </div>
  </div>
  <a
    class="text-inherit"
    *ngrxLet="lesson()?.nextLessonUrl as nextLessonUrl"
    aria-label="link to next lesson"
    [routerLink]="nextLessonUrl"
    matTooltip="Go to next lesson"
  >
    <button type="button" mat-icon-button [disabled]="!nextLessonUrl">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </a>
  <kbd [innerHTML]="shortcuts.goToNextLesson | hotkeysShortcut"></kbd>
</section>
<app-layout
  class="block flex-1"
  [keyLabelMap]="keyLabelMap()"
  [highlightPositionCodes]="highlightPositionCodes()"
></app-layout>
