<section class="flex flex-none items-center">
  <kbd [innerHTML]="shortcuts.goToPreviousLesson | hotkeysShortcut"></kbd>
  <a
    class="text-inherit"
    *ngrxLet="lesson()?.previousLessonUrl as previousLessonUrl"
    aria-label="link to previous lesson"
    [routerLink]="previousLessonUrl"
    matTooltip="Go to previous lesson"
    [matTooltipDisabled]="!previousLessonUrl"
  >
    <button type="button" mat-icon-button [disabled]="!previousLessonUrl">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </a>
  <div class="relative flex h-12 flex-1 items-center justify-center">
    <span class="whitespace-pre font-mono text-xl text-gray-300">{{
      lessonStore.history().join("")
    }}</span>
    <span
      class="relative font-mono text-xl before:absolute before:-top-[0.5ch] before:block before:h-0 before:w-0 before:border-x-[0.5ch] before:border-t-[0.5ch] before:border-solid before:border-x-transparent before:border-t-white after:absolute after:block after:h-0 after:w-0 after:border-x-[0.5ch] after:border-b-[0.5ch] after:border-solid after:border-x-transparent after:border-b-white"
      [ngClass]="
        lessonStore.error()
          ? 'first-letter:text-red-500 before:!border-t-red-500 after:!border-b-red-500'
          : null
      "
      >{{ lessonStore.queue().join("") }}...</span
    >
    <input
      class="peer h-0 w-0 opacity-0"
      #input
      type="text"
      inputmode="none"
      (keyup)="onKeyUpInInput($event)"
      (focus)="isFocus.set(true)"
      (blur)="isFocus.set(false)"
    />
    <div
      class="absolute inset-0 flex cursor-pointer items-center justify-center gap-1 rounded border border-solid border-white bg-gray-500 text-white peer-focus:pointer-events-none peer-focus:opacity-0"
      (click)="focusInput()"
    >
      <mat-icon class="scale-125 text-white">play_arrow</mat-icon> Start /
      Resume <kbd>Space</kbd>
    </div>
  </div>
  <a
    class="text-inherit"
    *ngrxLet="lesson()?.nextLessonUrl as nextLessonUrl"
    aria-label="link to next lesson"
    [routerLink]="nextLessonUrl"
    matTooltip="Go to next lesson"
    [matTooltipDisabled]="!nextLessonUrl"
  >
    <button type="button" mat-icon-button [disabled]="!nextLessonUrl">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </a>
  <kbd [innerHTML]="shortcuts.goToNextLesson | hotkeysShortcut"></kbd>
</section>
<app-layout
  class="block flex-1 overflow-hidden"
  [keyLabelMap]="keyLabelMap()"
  [highlightPositionCodes]="isFocus() ? highlightPositionCodes() : []"
></app-layout>
<app-combo-counter
  class="absolute bottom-4 left-4"
  [class.opacity-50]="isFocus()"
  [combo]="lessonStore.combo()"
></app-combo-counter>
<app-speedometer
  class="absolute bottom-4 right-4 h-24 w-24 opacity-50"
  [class.opacity-50]="isFocus()"
  [speed]="lessonStore.cpm()"
  [speedUnit]="'CPM'"
></app-speedometer>
