<mat-sidenav-container class="h-full">
  <mat-sidenav
    #drawer
    class="!w-[200px] !bg-gray-450"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [disableClose]="!(isHandset$ | async)"
    data-style-dense
    autosize
  >
    <header class="sticky top-0 z-10 shadow">
      <mat-toolbar class="sticky top-0 z-10 !bg-gray-450 !p-0">
        @for (iconLink of iconLinks; track $index) {
          <a
            [routerLink]="iconLink.routerLink"
            routerLinkActive
            [routerLinkActiveOptions]="iconLink.routerLinkActiveOptions"
            #rla="routerLinkActive"
            [attr.aria-label]="iconLink.ariaLabel"
            [matTooltip]="iconLink.tooltipMessage"
            (click)="onNavLinkClick()"
          >
            <button
              type="button"
              mat-icon-button
              [color]="rla.isActive ? 'primary' : null"
            >
              <mat-icon>{{ iconLink.icon }}</mat-icon>
            </button>
          </a>
        }
        <button
          type="button"
          mat-icon-button
          aria-label="button that opens hotkey dialog"
          (click)="openHotkeyDialog()"
          matTooltip="Open hotkey dialog"
        >
          <mat-icon>keyboard</mat-icon>
        </button>
      </mat-toolbar>
      <mat-form-field
        class="w-full [&_.mat-mdc-form-field-subscript-wrapper]:hidden"
      >
        <input
          [ngModel]="searchQuery()"
          (ngModelChange)="searchQuery.set($event)"
          matInput
          type="search"
          placeholder="Search Lessons"
          aria-label="search box for lesson"
        />
        @if (!searchQuery()) {
          <button mat-icon-button matSuffix aria-label="clear search query">
            <mat-icon>search</mat-icon>
          </button>
        }
      </mat-form-field>
    </header>
    <mat-nav-list class="!p-0">
      @if (searchQuery()) {
        @for (lesson of searchResult(); track lesson.id) {
          <a
            mat-list-item
            routerLink="/topic/{{ lesson.topic.id }}/lesson/{{ lesson.id }}"
            routerLinkActive="list-item-active"
            (click)="onNavLinkClick()"
            >{{ lesson.topic.name }} - {{ lesson.name }}</a
          >
        } @empty {
          <a mat-list-item> No results were found.</a>
        }
      } @else {
        @for (topic of topics; track topic.id) {
          <h4 class="flex items-center gap-1 font-bold" matSubheader>
            <mat-icon>{{ topic.iconName || "topic" }}</mat-icon
            >{{ topic.name }}
          </h4>
          @for (lesson of topic.lessons; track lesson.id) {
            <a
              mat-list-item
              routerLink="/topic/{{ topic.id }}/lesson/{{ lesson.id }}"
              routerLinkActive="list-item-active"
              (click)="onNavLinkClick()"
              >{{ lesson.name }}</a
            >
          }
        }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (isHandset$ | async) {
      <button
        type="button"
        class="!fixed bottom-0 left-0 !z-10"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
