<h2 class="mb-3 text-2xl">Settings</h2>
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="!text-xl"
      >Visibility</mat-expansion-panel-header
    >
    <app-visibility-setting-panel-content></app-visibility-setting-panel-content>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="!text-xl"
      >Layout Highlight</mat-expansion-panel-header
    >
    <app-layout-highlight-setting-panel-content></app-layout-highlight-setting-panel-content>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="!text-xl"
      >Device Layout</mat-expansion-panel-header
    >
    <app-device-layout-setting-panel-content></app-device-layout-setting-panel-content>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="!text-xl"
      >Chords</mat-expansion-panel-header
    >
    <button
        type="button"
        [color]="'warn'"
        mat-flat-button
        (click)="openDeleteChordsConfirmDialog()"
      >
        <mat-icon>delete</mat-icon>
        Delete All Imported Chords
      </button>
  </mat-expansion-panel>
</mat-accordion>
