<h2 class="mb-3 text-2xl">Settings</h2>
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="!text-xl"
      >Quick Setting</mat-expansion-panel-header
    >
    <app-quick-setting-panel-content></app-quick-setting-panel-content>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="!text-xl"
      >Visibility</mat-expansion-panel-header
    >
    <app-visibility-setting-panel-content></app-visibility-setting-panel-content>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="!text-xl"
      >Layout Highlight</mat-expansion-panel-header
    >
    <app-layout-highlight-setting-panel-content></app-layout-highlight-setting-panel-content>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="!text-xl"
      >Device Layout</mat-expansion-panel-header
    >
    <app-device-layout-setting-panel-content></app-device-layout-setting-panel-content>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="!text-xl"
      >Air Mode</mat-expansion-panel-header
    >
    <app-air-mode-setting-panel-content></app-air-mode-setting-panel-content>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="!text-xl"
      >Chords</mat-expansion-panel-header
    >
    <button
      type="button"
      [color]="'warn'"
      mat-flat-button
      (click)="openDeleteChordsConfirmDialog()"
    >
      <mat-icon>{{ "delete" | iconGuard }}</mat-icon>
      Delete All Imported Chords
    </button>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="!text-xl"
      >Misc</mat-expansion-panel-header
    >
    <app-misc-setting-panel-content></app-misc-setting-panel-content>
  </mat-expansion-panel>
</mat-accordion>
